@charset "UTF-8";

/*
Pequenas: até 600px
Celular: de 600px até 768px;
Tablet: de 768px até 992px;
Desktop: de 992px até 1200px;
Grandes: acima de 1200px;
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #BF0426, #D98E04);
    }

    section#login {
        width: 95vw;
        height: 65vh;
        font-size: 1.8em;
    }

    section#login > div#imagem {
        float: left;
        width: 40vw;
        height: 100vh;
    }

    input {
        padding: 2vh 8vw;
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
    }

    .gg-user {
        position: absolute;
        margin-top: 75px;
        margin-left: 41vw;
        width: 10px;
        height: 10px;

    }
    
    .gg-key {
        position: absolute;
        margin-top: 85px;
        margin-left: 41vw;
        width: 10px;
        height: 10px;
    }

    #cadastro-recuperar {
        position: relative;
        margin-left: auto;
        top: 10px;
        font-size: .6em;

    }

    #botao {
        position: absolute;
        margin-top: 50px;
        margin-left: auto;
        padding: 20px;
    }
    

}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #BF0426, #D98E04);
    }

    section#login {
        width: 80vw;
        font-size: 2em;

    }

    section#login > div#imagem {
        float: right;
        width: 40vw;
        height: 100vh;
    }

    input {
        padding: 2vh 8vw;
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
    }

    .gg-user {
        position: absolute;
        margin-top: 68px;
        margin-left:7vw;
        width: 10px;
        height: 10px;

    }
    
    .gg-key {
        position: absolute;
        margin-top: 75px;
        margin-left: 7vw;
        width: 10px;
        height: 10px;
    }

    #cadastro-recuperar {
        position: relative;
        margin-left: auto;
        top: 10px;
        font-size: .6em;

    }

    #botao {
        position: absolute;
        margin-top: 50px;
        margin-left: 2vw;
        padding: 20px;
    }
}